// Navigation Styles here
nav {
    display: flex;
    justify-content: center;
    div{
        max-width: 800px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-size: 1.6rem;
    }
    
    border-bottom: 2px dashed silver;
    a {
        text-decoration: none;
        margin: 1%;
        color: @font-color;
    }
    
    .logo {
        margin: 1% auto 1% 0;
    }
}