// Navigation Styles here
nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
    a {
        text-decoration: none;
        margin: 3%;
        color: @font-color;
    }
    
    .logo {
        margin: 3% auto 3% 0;
    }
}